%div.container
  %div.row
    - @books.each do |book|
      %div.col-12.col-sm-6.col-md-4
        %p #{book.img_url}
        %h2 #{book.name}
        -# %h3 "#{Author.books.find(book.id).first_name}"
        %p #{book.price}
        %p #{book.description}
